<div>
    <h1>Chat</h1>
    <form class="border rounded-4 d-flex p-2 m-4">
        <div class="input-group mb-3 m-4">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            <input type="text" class="form-control" aria-label="email" aria-describedby="inputGroup-sizing-default" placeholder="Escribe tu correo electronico">
        </div>
        <div class="input-group m-4">
            <span class="input-group-text">Mensaje</span>
            <textarea class="form-control" aria-label="With textarea" placeholder="Escribe tu mensaje"></textarea>
        </div>
        <button type="button" class="btn btn-primary m-4">Enviar</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
